.link {
  margin: 20px;
}
.featured{
  display:flex;
  flex-wrap: wrap;
  padding-left: 30px;
}
.featuredDiv{
  width:15em;
  padding:10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featuredImg{
  width:13em;
  transition-delay:0.3s; 
  
}
.featuredImg:hover{
  transform: translateY(-15px);
  width:13em;
  
}

